button {
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 4px;
    border: 0px;
    color: white;
}

.addProduct {
    background-color: green;
}

body {
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    margin-left: -45px;
    margin-top: 25px;
    list-style-type: none;
    counter-reset: item;
}

li {
    width: 500px;
    margin: 10px;
}

li:before {
    content: counter(item) ') ';
    counter-increment: item;
}