body {
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}

form div {
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

.warning {
    color: red;
}