body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="checkbox"] {
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  vertical-align: top;
}

.delete {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.delete:hover {
  background-color: #d32f2f;
}

td:last-child {
  white-space: nowrap;
}

.table-controls {
  background-color: #fff;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
  display: flex;
  justify-content: space-between;
}

.delete-all {
  background-color: #ff5722;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.delete-all:hover {
  background-color: #e64a19;
}

.delete-all:active {
  background-color: #d84315;
}

.filters {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}

.filter-group input, .filter-group select {
    padding: 15px;
    border-radius: 5px;
    border: solid 1px;
    width: 260px;
}