#popup {
    display: none;
    position: fixed;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
    justify-content: center; 
    align-items: center;
}
.content {
    background: #fff; 
    padding: 20px; 
    border-radius: 8px;
    text-align: center; 
    position: relative; 
    max-width: 800px;
    display: flex;
    align-items: center;
}

.content button {
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    border: 0;
    font-size: 16px;
}

.content img {
    width: 150px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
